/* Skills Section */
#skills {
    padding: 60px 20px;
    background: var(--primary-color);
    text-align: center;
}

#skills h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--secondary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#skillsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* Space between sections */
    /*width: 200px; /* Fixed width of 200px */
}

.skill-card {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.skill-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #1d2a35;
}

.skill-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-card li {
    font-size: 16px;
    margin: 10px 0;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill-card i {
    font-size: 20px;
    color: var(--accent-color);
}